@{
    ViewData["Title"] = "Home Page";
}

<img src="https://ih1.redbubble.net/image.1144067153.0756/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.u4.jpg" style="width:300px;" />

<form method="post" action="home/tickerinfo">
    Enter Ticker: <input type="text" name="ticker" />
    <input type="submit" />
</form>